.wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}
.canvas-container {
	width: 525px;
	height: 700px;
}
.canvas-container canvas {
	width: 100%;
	height: auto;
}

.canvas-container.displacement-swap {
	width: 640px;
	height: 427px;
	background: black;
}
